h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
}

ol[role="list"],
ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

:root {
  --light-color: #f5f5f7;
  --dark-color: #221f20;
  --container-padding-inline: 13%;
  --footer-padding-inline: 10%;
  @media screen and (max-width: 768px) {
    --container-padding-inline: 6%;
    --footer-padding-inline: 6%;
  }
}

html {
  font-family: "Inter", sans-serif;
}

.container {
  padding: 0 var(--container-padding-inline);
}

.title {
  color: var(--dark-color, #221f20);
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  span {
    position: relative;
  }
  span::after {
    position: absolute;
    bottom: 0;
    right: 0;
    content: "";
    display: block;
    width: 75px;
    height: 2px;
    background-color: black;
  }
}

.promo {
  position: relative;
  min-height: 100vh;
  background: url("../img/main_bg.jpg") center center / cover no-repeat;
  padding-top: 75px;
  @media screen and (max-width: 768px) {
    background-image: url(../img/main_bg.jpg);
  }
  @media screen and (max-width: 768px) {
    min-height: 500px;
    padding-top: 50px;
  }
}

.promo__title {
  color: var(--light-color, #f5f5f7);
  font-size: 60px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  @media screen and (max-width: 768px) {
    font-size: 48px;
  }
}

.promo__subtitle {
  margin-top: 124px;
  color: var(--light-color, #f5f5f7);
  font-size: 32px;
  font-weight: 100;
  line-height: normal;
  @media screen and (max-width: 768px) {
    & {
      margin-top: 80px;
    }
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-top: 20px;
  padding: 3px 10px;
  width: 160px;
  min-height: 38px;
  border: 1px solid var(--light-color, #f5f5f7);
  background: rgba(217, 217, 217, 0);
  color: var(--light-color, #f5f5f7);
  font-size: 16px;
  font-weight: 100;
  line-height: normal;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.btn:hover {
  font-weight: 500;
  box-shadow: 5px 5px 10px 0 rgba(255, 255, 255, 0.62);
}

.promo__address {
  position: relative;
  margin-top: 100px;
  color: var(--light-color, #f5f5f7);
  font-size: 16px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  address {
    font-style: normal;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  &::before {
    content: "";
    width: 40px;
    height: 49px;
    display: block;
    background: url(../icons/arrow.svg) center center / cover no-repeat;
    position: absolute;
    left: -45px;
    top: -17px;
  }
  @media screen and (max-width: 768px) {
    &::before {
      left: -40px;
    }
  }
  @media screen and (max-width: 750px) {
    &::before {
      display: none;
    }
  }
}

.keywords {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  padding: 0 360px;
  width: 100%;
  height: 20px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.04) 0%,
    rgba(255, 255, 255, 0.12) 50%,
    rgba(255, 255, 255, 0.2) 100%
  );
  li {
    list-style-type: none;
    color: var(--light-color, #f5f5f7);
    font-size: 10px;
    font-weight: 100;
    line-height: normal;
  }
  @media screen and (max-width: 1440px) {
    & {
      padding: 0 20px;
    }
  }
  @media screen and (max-width: 768px) {
    & li {
      display: none;
    }
    & li:nth-child(-n + 9) {
      display: list-item;
    }
  }
}

.about {
  padding-top: 80px;
  background-color: var(--light-color);
}

.about__title {
  color: var(--dark-color, #221f20);
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

.about__text {
  width: 1100px;
  margin-top: 20px;
  color: var(--dark-color, #221f20);
  font-size: 40px;
  font-weight: 400;
  line-height: normal;
  span {
    color: #a5a5a5;
  }
  @media screen and (max-width: 1440px) {
    width: 100%;
  }
}

.services {
  display: flex;
  column-gap: 10px;
  margin-top: 80px;
}

.services__items {
  position: relative;
  width: 50%;
  ul {
    margin-top: 20px;
    padding: 0;
  }
  li {
    margin-top: 10px;
    list-style-type: none;
    color: var(--dark-color, #221f20);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    &:first-child::before {
      content: "";
      display: block;
      position: absolute;
      width: 15px;
      height: 15px;
      background: url(../icons/camera.svg) center center / cover no-repeat;
      left: -30px;
      top: 2px;
    }
    &:nth-child(3):before {
      content: "";
      display: block;
      position: absolute;
      width: 15px;
      height: 15px;
      background: url(../icons/edit.svg) center center / cover no-repeat;
      left: -30px;
      top: 2px;
    }
  }
}

.services__item-subtitle {
  color: var(--dark-color, #221f20);
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

.services__text {
  width: 50%;
  color: var(--dark-color, #221f20);
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.4px;
}

.works {
  padding-top: 80px;
  background-color: var(--light-color);
}

.works__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr) 1.5fr;
  column-gap: 30px;
  row-gap: 50px;
  margin-top: 50px;
  img {
    width: 100%;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
  }
}

.inspiration {
  padding-top: 80px;
  background-color: var(--light-color);
}

.inspiration__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  margin-top: 50px;
  img {
    width: 100%;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
  }
}

#tenement {
  grid-row: 1/3;
  grid-column: 4/5;
}

#sky {
  grid-column: 2/4;
}

.customers {
  padding-top: 80px;
  background-color: var(--light-color);
  padding-bottom: 50px;
}

.customers__wrapper {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  img {
    width: calc((100% - 90px) / 4);
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
  }
}

.footer {
  padding: 88px 0;
  background: black;
  align-items: center;
  display: flex;
  justify-content: space-around;
  color: var(--light-color);
  font-weight: 400;
  line-height: normal;
  font-size: 20px;
}

.footer__addr {
  font-style: normal;
}

.footer__telephone {
  color: var(--light-color);
  text-decoration: none;
}

.footer__social {
  list-style: none;
  display: flex;
  padding-left: 0;
  column-gap: 30px;
  li {
    background: #221f20;
    width: 32px;
    height: 32px;
    a {
      width: 100%;
      height: 100%;
      display: flex;
      img {
        width: 22px;
        height: 22px;
      }
    }
  }
}
